body {
    //background-image: linear-gradient(to right top, #052137, #004e6c, #008098, #00b5b2, #12ebb9);
    //background-repeat: no-repeat;
    height: 100vh;
    background-color: red;
}
ul {
    list-style: none;
}

.cc {
    text-decoration: line-through;
}
